.rightSideBar{
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  border-radius:var(--radius-40);
  padding: 2.5rem;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);

}

.clicked{
  width: 25%;
}




.logWrap img{
  width: 10rem;
  transform: rotate(90deg);
  padding-bottom: 2rem;
}

.clicked .logWrap img{
 display: none;
}


.rightSideButton{
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: left 0.4s ease;
}

.clicked .rightSideButton {
  right: 2rem
}
