.travelPlan{
  background-color: rgba(255, 255, 255, 0.8);
  width: 10.7916vw;
  border-radius:var(--radius-40);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 21.8px rgba(0, 0, 0, 0.13);
}

.travelPlanTitle{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.travelPlanTitle button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.travelPlanTitle p{
  font-size: var(--font-20);
  line-height: 2.4rem;
}

.travelPlanTitle p span{
  font-weight: var(--weight-semi-bold);
}

.travelPlanMainBtn{
  margin-top: 2rem ;
  margin-bottom: 3.5rem;
}

.travelPlanMainBtn button{
  width: 100%;
  font-size: var(--font-12);
  background-color: var(--main-color);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.liveSearch h3{
  font-size: var(--font-16);
  margin-bottom: 1.5rem;
  
}

.liveSearch ul li{
  font-size: var(--font-12);
  margin-bottom: 1rem;
}

.bannerImgWrap img{
  width: 100%;
  margin-bottom: 1rem;
}

.bannerImgWrap img:last-child{
  margin-bottom: 0;
}