.mainContainer {
  width: 82%;
  height: 90vh;
  background-color: var(--white);
  border-radius: var(--radius-40);
  padding: 4rem 2rem;
  box-shadow: var(--boxShadow-01);
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainContainer header {
  width: fit-content;
  margin: auto;
  position: relative;
  background-color: #ffffff25;
  backdrop-filter: blur(8px);
  box-shadow: var(--boxShadow-02);
  border-radius: var(--radius-20);
}

.navMenu {
  display: flex;
  align-items: center;
  position: relative;
}

.link {
  height: 6rem;
  line-height: 2rem;
  padding: 2rem;
  color: var(--black);
  cursor: pointer;
  font-size: var(--font-24);
  font-weight: var(--weight-regular);
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}

.navMenu a:first-child {
  padding: 1.5rem 2rem;
}

.link.active {
  color: var(--white);
}

.link svg path {
  fill: currentColor;
}

.activeHeader {
  background-color: var(--main-color);
  height: 100%;
  border-radius: var(--radius-20);
  border: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.5s ease;
}

.Home {
  left: 0;
  width: 7rem;
}

.Seasons {
  left: 7rem;
  width: 10.2rem;
}

.Community {
  left: 17.2rem;
  width: 12.3rem;
}

.Random {
  left: 29.5rem;
  width: 14.4rem;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 2rem;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  margin-top: 4rem;
  position: relative;
}
