.travelPlan {
  background-color: rgba(255, 255, 255, 0.8);
  width: 10.7916vw;
  border-radius: var(--radius-40);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 21.8px rgba(0, 0, 0, 0.13);
  z-index: 10;
}

.travelPlanTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.travelPlanTitle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.travelPlanTitle p {
  font-size: var(--font-20);
  line-height: 2.4rem;
}

.travelPlanTitle p span {
  font-weight: var(--weight-semi-bold);
}

.travelPlanMainBtn {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.travelPlanMainBtn button {
  width: 100%;
  font-size: var(--font-12);
  background-color: var(--main-color);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.liveSearch h3 {
  font-size: var(--font-16);
  margin-bottom: 1.5rem;
}

.liveSearch ul li {
  font-size: var(--font-12);
  margin-bottom: 1rem;
}

.bannerImgWrap img {
  width: 100%;
  margin-bottom: 1rem;
}

.bannerImgWrap img:last-child {
  margin-bottom: 0;
}

.travelPlanBox {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 107%;
  border-radius: var(--radius-40);
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease-in-out, opacity 0.2s ease;
}

.travelPlanBoxVisible {
  width: 184%;
  padding: 4rem 2rem;
  opacity: 1;
  pointer-events: auto;
}

.travelPlanBoxContent {
  height: inherit;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
}

.travelPlanBoxVisible .travelPlanBoxContent {
  opacity: 1;
}

.scheduleText {
  text-align: center;
}

.scheduleText h1 {
  font-size: var(--font-28);
  font-weight: var(--weight-medium);
  color: var(--point-color);
}

.scheduleText p {
  font-size: var(--font-20);
  font-weight: var(--weight-light);
  color: var(--silver-black);
  margin-top: 1.5rem;
}

.calendar {
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--dim-gray);
  width: 90%;
  margin: 0 auto;
}

.selectedDateInfo {
  padding: 2rem;
  font-size: var(--font-16);
  font-weight: var(--weight-medium);
  max-width: 100%;
}

.selectedDateInfo p {
  margin-bottom: 0.8rem;
  font-size: var(--font-16);
  white-space: nowrap;
}

.selectedDatePoint {
  color: var(--point-color);
}

.select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.regionSelect, .citySelect {
  width: 47%;
  position: relative;
}

.regionToggle, .cityToggle {
  width: 100%;
  background: transparent;
  border: none;
  font-size: var(--font-16);
  color: var(--dim-black);
  cursor: pointer;
  text-align: left;
  margin-top: 1rem;
  padding-bottom: 10px;
  position: relative;
}

.regionToggle::after, .cityToggle::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--dim-gray);
  position: absolute;
  bottom: 0;
  left: 0;
}

.dropdownIcon, .cityDropdownIcon {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
}

.regions, .cityList {
  width: 100%;
  max-height: 10vh;
  overflow-y: auto;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
}

.regions button, .cityList button {
  width: 100%;
  padding: 0.8rem 1rem;
  background: none;
  border: none;
  font-size: var(--font-12);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

.regions button:hover, .cityList button:hover {
  background: var(--cloudy-gray);
}

.nextBtn {
  width: 24rem;
  height: 4rem;
  text-align: center;
  font-size: var(--font-16);
  color: var(--main-color);
  font-weight: var(--weight-semi-bold);
  border: 1px solid var(--main-color);
  background: transparent;
  border-radius: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
  cursor: pointer;
  transition: 0.8s ease;
}

.nextBtn:hover {
  background-color: var(--main-color);
  color: var(--white);
}
