.userLoginBar{
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  border-radius:var(--radius-40);
  padding: 4rem 2rem;
  box-shadow: 0px 0px 21.8px var(--boxShadow-01);
  transition: width .3s ease;
  position: relative;
}

.logWrap img{
  width: 8vw;
  margin-bottom: 2.03125vw;
  transform: rotate(90deg);
}

.logoHidden{
    display: none;
}

.userLoginBar button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.isExpanded{
  width: 23%;
}

.rotated{
  transform: rotate(180deg);
}

/* loginPanel */
.loginPanel {
  position: fixed;
  top: 4rem;
  right: 14rem;
  width: 0;
  opacity: 0;
  height: calc(100vh - 9rem);
  border-radius: 5rem;
  background-color: #fff;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  padding: 11rem 5rem 0 5rem;
  z-index: 10;
  overflow-y: auto;
  transition: width 0.4s ease, opacity 0.4s ease;
}

.slideIn {
  width: 33rem;
  opacity: 1;
}

.slideOut {
  width: 0;
  opacity: 0;
}

.loginPanel h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.loginInput {
  width: 100%;
  margin-bottom: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.loginInput input {
  all: unset;
  width: 100%;
  max-width: 99%;
  height: 3.5rem;
  border-radius: 2rem;
  border: 1px solid var(--black);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.loginInput input::placeholder {
  color: var(--dark-gray);
  padding-left: 1rem;
}

.authButtons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.authButtons button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.loginBtn img,
.signupBtn img {
  margin-right: 0.5rem;
}

.loginBtn img {
  width: 1.5rem;
}

.signupBtn img {
  width: 2rem;
}

.loginAPI {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.loginPanel p {
  font-size: 1rem;
  color: var(--light-black);
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.5;
}

.loginAd{
  margin-bottom: 4rem;
}

.loginAd img {
  width: 100%;
  margin-bottom: 1rem;
}

.loginPlane {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 22rem;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: var(--radius-40);
  padding: 2rem;
  text-align: center;
}

.loginPlaneTouch {
  margin-top: 1rem;
  height: 2rem;
}

.notLoggedInMessage {
  font-size: 1.2rem;
  color: var(--dark-gray);
  padding: 3rem 1rem;
  white-space: pre-line;
}
