.travelPlanBox {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 107%;
  border-radius: var(--radius-40);
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow-y:hidden;
  overflow-x:visible;
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease-in-out, opacity 0.2s ease;
}

.travelPlanBoxVisible {
  width: 184%;
  padding: 4rem 2rem;
  opacity: 1;
  pointer-events: auto;
}

.travelPlanBoxContent {

  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
}

.travelPlanBoxVisible .travelPlanBoxContent {
  opacity: 1;
}

.scheduleText {
  text-align: center;
  white-space: nowrap;
}

.scheduleText h1 {
  font-size: var(--font-28);
  font-weight: var(--weight-medium);
  color: var(--point-color);
}

.scheduleText p {
  font-size: var(--font-20);
  font-weight: var(--weight-light);
  color: var(--silver-black);
  margin-top: 1.5rem;
}

.calendar {
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--dim-gray);
  width: 90%;
  margin: 0 auto;
}

.selectedDateInfo {
  padding: 2rem;
  font-size: var(--font-16);
  font-weight: var(--weight-medium);
  max-width: 100%;
}

.selectedDateInfo p {
  margin-bottom: 0.8rem;
  font-size: var(--font-16);
  white-space: nowrap;
}

.selectedDatePoint {
  color: var(--point-color);
}

.select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.regionSelect,
.citySelect {
  width: 47%;
  position: relative;
}

.regionSelect h1{
  margin-bottom: 1rem;
}

.regionToggle,
.cityToggle {
  width: 100%;
  background: transparent;
  border: none;
  font-size: var(--font-16);
  color: var(--dim-black);
  cursor: pointer;
  text-align: left;
  margin-top: 1rem;
  padding-bottom: 10px;
  position: relative;
}
.cityToggle {
  margin-top: 4rem;
}

.regionToggle::after,
.cityToggle::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--dim-gray);
  position: absolute;
  bottom: 0;
  left: 0;
}

.dropdownIcon,
.cityDropdownIcon {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
}

.regions,
.cityList {
  width: 100%;
  max-height: 10vh;
  overflow-y: auto;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
}

.regions button,
.cityList button {
  width: 100%;
  padding: 0.8rem 1rem;
  background: none;
  border: none;
  font-size: var(--font-12);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

.regions button:hover,
.cityList button:hover {
  background: var(--cloudy-gray);
}

.nextBtn,
.prevBtn,
.confirmedBtn {
  all: unset;
  width: 24rem;
  height: 4rem;
  text-align: center;
  font-size: var(--font-16);
  font-weight: var(--weight-semi-bold);
  border-radius: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.8s ease;
}

.nextBtn,
.prevBtn {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background: transparent;
}

.nextBtn {
  bottom: 4rem;
}

.prevBtn {
  bottom: 9rem;
}

.nextBtn:hover,
.prevBtn:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.confirmedBtn {
  bottom: 4rem;
  color: var(--white);
  border: 1px solid var(--main-color);
  background: var(--main-color);
}

.regionText{
  padding: 0 2rem;
}

.regionText h1 {
  font-size: var(--font-24);
  font-weight: var(--weight-extra-bold);
  color: var(--main-color);
}

.regionText p {
  font-size: var(--font-16);
  font-weight: var(--weight-regular);
  color: var(--dark-black);
  margin-top: 1rem;
}

.tabWrapper {
  display: flex;
  border-bottom: 2px solid var(--dim-gray);
  margin: 2rem;
}

.tabWrapper button {
  border: none;
}

.tabLocation {
  all: unset;
  flex: 1;
  text-align: center;
  padding: 1rem 0;
  font-size: var(--font-16);
  font-weight: var(--weight-medium);
  color: var(--dim-gray);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.tabLocation.active {
  color: var(--main-color);
  font-size: var(--font-16);
  font-weight: var(--weight-bold);
}

.tabLocation.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  border-radius: 1rem;
}

.searchBar {
  margin: 0 2rem;
  border: 1px solid #000;
  height: 4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 0 1.5rem;
}

.searchBar input {
  all: unset;
  flex: 1;
  font-size: var(--font-16);
  font-weight: var(--weight-medium);
  color: var(--dark-gray);
  border: transparent;
  outline: none;
}

.searchBar input::placeholder {
  font-size: var(--font-16);
  font-weight: var(--weight-medium);
  color: var(--dark-gray);
}

.searchBar button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.tabMenu {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem 1rem 2rem;
}

.tab {
  all: unset;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  font-size: var(--font-16);
  border: transparent;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  font-weight: var(--weight-medium);
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeTab {
  all: unset;
  font-size: var(--font-16);
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--white);
  font-weight: var(--weight-semi-bold);
}

.tabContent {
  margin: 1rem 2rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: var(--color-bg);
  min-height: 40rem;
  max-height: 40rem;
  overflow-y: auto;
  padding-right: 1rem;
}

.tabContent::-webkit-scrollbar {
  width: 0.4rem;
}

.tabContent::-webkit-scrollbar-track {
  background: var(--dim-gray);
  border-radius: 1rem;

}

.tabContent::-webkit-scrollbar-thumb {

  display: none;
}

.listWrap {
  margin-top: 0.5rem;
}
.listBox {
  width: 30rem;
  display: flex;
}
.listImg {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
.listImg img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}
.listText {
  width: 18rem;
  margin-right: 2rem;
}
.listTitle {
  display: flex;
  gap: 0.5rem; 
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.listTitle span {
  border: 1px solid var(--point-color);
  border-radius: 0.75rem;
  padding: 0 0.5rem;
  color: var(--point-color);
  font-size: var(--font-12);
  font-weight: var(--weight-semi-bold);
  line-height: 1.3;
}
.listTitle h5 {
  font-size: var(--font-16);
  font-weight: var(--weight-semi-bold);

}
.listText p {
  display: -webkit-box;
  -webkit-line-clamp: 2;         
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;       
  line-height: 1.3;             
  max-height: calc(1.5em * 2);   
}
.listBtnSelect {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.listBtnSelect img {
  transition: transform 0.3s ease;
  transform-origin: center center; 
}
.listBtnSelect:hover img{
  transform: rotate(90deg);
}



