.formTitle {
    position: relative;
    padding-bottom: 2.4rem;
    border-bottom: 2px solid #000;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.4rem;
    color: #555;
    text-align: center;
}
.requiredNotice {
    position: absolute;
    right: 0;
    top: 1.5rem;

    font-size: 1.2rem;
    color: #ff3b30;
}

.requiredWrap {
    text-align: right;
    margin-top: 1rem;
}

.inputGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.label {
    width: 90px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #333;
    text-align: right;
}

.inputWithButton {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    flex: 1;
}

.input {
    flex: 1;
    height: 4.4rem;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.4rem;
}
.required{
    color: #1751e8;
}
.helperText {
    margin-left: 90px;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.2rem;
}

.verifyButton {
    height: 4.4rem;
    padding: 0 1.2rem;
    border: 1px solid #ff5722;
    color: #ff5722;
    background: white;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.submitButton {
    width: 100%;
    height: 5rem;
    background: #ff5722;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 0.4rem;
    margin-top: 2.4rem;
    cursor: pointer;
}
