<<<<<<< HEAD
body {
  height: 100vh;
  /* background-color: #999; */
  background-image: url(../public/img/Journee_background.webp);
  background-size: cover;
}
#root {
}
.displayFlex {
=======

.displayFlex{
>>>>>>> 249475f2c6237e7c0136844b54c5bb5bd320939e
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
